* {
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
}

#logo {
    height : 60px !important;
    color: white;
}

label {
    display: block;
}

input, textarea, select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 300px;
    max-width: 50%;
}

.flash-success {
    background-color: green;
    color: white;
}