{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter un souhait
{% endblock %}

{% block body %}

    {{ form_start(wishForm) }}
    {{ form_widget(wishForm) }}

    <button>Valider</button>

    {{ form_end(wishForm) }}
{% endblock %}

