{% extends 'base.html.twig' %}

{% block body %}

    <section class="wish-list">
        <ul>
        {% for wish in wishes %}
            <a href="{{ path('wish_details', {'id': wish.id}) }}"  title="Voir les details du Souhait">
            <li>{{ wish.title }}</li>
            </a>
        {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block title %}

    {{ parent() }} | Liste des souhaits

{% endblock %}